<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="/public/fruit_dropdown_styles.css">
  </header>

  <body>
    <h2> home: <%= @fruit_array %> </h2>

    <div class="fruit_dropdown" name="fruit">
      <select>
        <% @fruit_array.each do |name|%>
        <option value="<%=name%>"><%=name%></option>
        <% end %>
      </select>
    </div>
 

  </body>  
</html>  
