<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="/public/fruit_dropdown_styles.css">
  </header>

  <body>
    <h1 id="welcome">Welcome!</h1>
    
    <label for="fruit" id="question">What fruit would you like to know the nutrition of?</label>
    <div class="fruit_dropdown" name="fruit">
      <select>
        <% @fruit_array.each do |name|%>
        <option name="fruit_name" value="<%=name%>"><%=name%></option>
        <% end %>
        <option value= "/nutrition"> home </option>
      </select>
    </div>
 

  </body>  
</html>  
