<!DOCTYPE html>
<html>
  <head>
    <title>Fruit Nutrition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="navbar">
      <div><a href="/">Fruit Nutrition</a></div>
      <div><a href="/">Home</a></div>
      <div><a href="/nutrition">Nutrition</a></div>
    </div>
    <%= yield %>
  </body>
</html>
