<!DOCTYPE html>
<html>
  <head>
    <title>Fruit Nutrition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/fruit_dropdown_styles.css">
  </head>

  <body class="page_body">
    <nav class="navbar">
      <div id="log_link"><a href="/">Fruit Nutrition</a></div>
      <div><a href="/">Home</a></div>
      <div><a href="/nutrition">All Fruit's Nutrition</a></div>
      <div><a href="/gallary">Gallary</a></div>
    </nav>

    <%= yield %>
  </body>

  <footer>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
    <p>more stuff</p>
  </footer>
</html>
