<!DOCTYPE html>
<html>
  <head>
    <title>Fruit Nutrition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/styles.css">
  </head>

  <body class="page_body">
    <div class="wrapper">
      <nav class="navbar">
        <div id="log_link"><a href="/">Fruit Nutrition</a></div>
        <div id="nav_space"></div>
        <div id="home_link"><a href="/">Home</a></div>
        <div id="nutrition_link"><a href="/nutrition">All Fruit's Nutrition</a></div>
        <div id="gallary_link"><a href="/gallary">Gallary</a></div>
      </nav>

      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="footer_links">
      <div id="home_link_footer"><a href="/">Home</a></div>
      <div id="nutrition_link_footer"><a href="/nutrition">All Fruit's Nutrition</a></div>
      <div id="gallary_link_footer"><a href="/gallary">Gallary</a></div>
    </div> 
  </footer>
</html>
