html{
  --background-color: rgb(190, 204, 223);
  --dark-color: rgb(17, 5, 182);
  --light-color: rgb(162, 170, 241);
  --dark-shadow: #1e058a;
 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: var(--dark-shadow);
  background-color: var(--background-color);
  text-decoration: none;
  
}
/*---------------------------------------For Home-------------------------------------------*/
#welcome{
  font-size: 60px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}

#question{
  font-size: 30px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

/*---For fruit_dropdown---*/
select {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */

  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);

  border-radius: 5px;  /* round the border corners */
  padding: 5px 10px;
  width: 400px;
  height: 60px;
  box-shadow: 5px 8px 5px rgba(24, 0, 0, 0.8);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  margin: 30px auto 5px auto;
  display: flex;
  justify-content: center;
}

select:focus {
  box-shadow: 0px 0px 8px 8px var(--shadow-color);
}

select:hover {
  box-shadow: 0px 0px 8px 8px var(--shadow-color);
}

.submit_button {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */

  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);

  border-radius: 5px;  /* round the border corners */
  padding: 5px 10px;
  width: 100px;
  height: 60px;
  box-shadow: 5px 8px 5px rgba(24, 0, 0, 0.8);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: center;
}
   
.submit_button:focus {
  box-shadow: 0px 0px 8px 8px var(--shadow-color);
}

.submit_button:hover {
  box-shadow: 0px 0px 8px 8px var(--shadow-color);
}
/*-------------------------------------For Nutrition-----------------------------------------*/
#name_label{
  font-size: 60px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.nutrition_div{
  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  padding-bottom: 40px;
  max-width: 60%;
  min-width: 500px;
  margin: auto;
  border-radius: 20px;
}

#nutrition_label, #additional_label{
  font-size: 30px;
}

.nutrition_div label{
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: center;
}
