h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:blue;
}

select {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */

  color: navy;  /* text color */
  background-color: lightblue;
  border: 2px solid blue;

  border-radius: 5px;  /* round the border corners */
  padding: 5px 10px;
  width: 200px;
  height: 40px;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

select:focus {
  box-shadow: 0px 0px 8px 8px #4259db;
}
   
