html{
  --background-color: rgb(154, 164, 209);
  --dark-color: rgb(17, 5, 182);
  --light-color: rgb(162, 170, 241);
  --dark-shadow: #1e058a;
 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: var(--dark-shadow);
  background-color: var(--background-color);
  text-decoration: none;
}

/*---------------------------------------Nav-------------------------------------------*/
.page_body{
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  color: var(--dark-color);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background-color: var(--light-color);
  border-bottom: 3px solid var(--dark-color);
  padding: 10px;
  margin-bottom: 10px;
}

nav a{
  text-decoration: none;
  padding: 0px 10px 10px;
  color: var(--dark-shadow)
}

nav a:focus{
  color: var(--dark-color);
}

#nav_space{
  margin: 0px auto;
}

#log_link{
  font-family: fantasy;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: left;
}

nav div{
  display: flex;
  align-items: center;
}

#home_link, #nutrition_link, #gallary_link{
  margin: 0px 30px;
  padding-top: 10px;

}
/*---------------------------------------For Home-------------------------------------------*/
#welcome{
  font-size: 60px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

#question{
  font-size: 30px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

/*---For fruit_dropdown---*/
select {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */

  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);

  border-radius: 5px;  /* round the border corners */
  padding: 5px 10px;
  width: 400px;
  height: 60px;
  box-shadow: 5px 8px 5px rgba(24, 0, 0, 0.8);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  margin: 30px auto 5px auto;
  display: flex;
  justify-content: center;
}

select:focus {
  box-shadow: 0px 0px 8px 8px var(--dark-shadow);
}

select:hover {
  box-shadow: 0px 0px 8px 8px var(--dark-shadow);
}

.submit_button {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */

  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);

  border-radius: 5px;  /* round the border corners */
  padding: 5px 10px;
  width: 100px;
  height: 60px;
  box-shadow: 5px 8px 5px rgba(24, 0, 0, 0.8);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: center;
}
   
.submit_button:focus {
  box-shadow: 0px 0px 8px 8px var(--dark-shadow);
}

.submit_button:hover {
  box-shadow: 0px 0px 8px 8px var(--dark-shadow);
}
/*-------------------------------------For Fruit-----------------------------------------*/
#name_label{
  font-size: 60px;
  margin:40px auto;
  display: flex;
  justify-content: center;
}

.fruit_div{
  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  padding-bottom: 40px;
  max-width: 60%;
  min-width: 500px;
  margin: auto;
  border-radius: 20px;
}

#nutrition_label, #additional_label{
  font-size: 30px;
}

.fruit_div label{
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: center;
}
/*-------------------------------------For Nutrition-----------------------------------------*/
#title_nutrition{
  font-size: 60px;
  margin: 20px auto 0px;
  display: flex;
  justify-content: center;
}

.nutrition_body{
  margin:0;
  display: flex;
  justify-content: center;
}

.fruit_grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 50px 50px 50px;

}

.nutrition_div{
  color: var(--dark-color);  /* text color */
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  padding-bottom: 40px;
  max-width: 100%;
  min-width: 200px;
  border-radius: 20px;

  margin: 15px;
  overflow: hidden;
}

.nutrition_div label{
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: center;
}

#name_label_n{
  font-size: 30px;
  padding-top: 20px;
}

/*---------------------------------------Footer-------------------------------------------*/
footer{
  bottom: 0;
  width: 100%;
  height: 80px;   
  background-color: var(--light-color);
  border-top: 3px solid var(--dark-color);
  margin-top: auto;
}

.footer_links a{
  margin: 4px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: var(--dark-shadow);
}
